.signin-page, .signup-page, .forgot-password-page, .reset-password-page{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../../images/bg3.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.unauthorized-page{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.signin-card, .signup-card, .forgot-password-card, .reset-password-card{
    display: flex;
    align-items: center;
    padding: 20px;
    margin: 0px 1rem;
}

.glass{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.1) 100%);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0px 8px 32px 0px rgba(168, 168, 168, 0.37);
}

.form-control{
  color: black !important;
  /* min-width: 20rem !important; */
}

/* CSS for toggle slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .toggle-container .toggle-value{
    display: inline-block;
    margin: 0 0.5rem;
  }
