.text-dark {
    position: relative;
    padding: 0;
}


.tw::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: #ffc107;
    transition: width 0.3s ease-in-out;
}

.tw:hover::after {
    width: 100%;
}
.navbar {
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(10px);
}

.form-control {
    background-color: rgba(0, 0, 0, 0.336);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(10px);
}

.form-control::placeholder {
    color: white;
}