.d-cards {
    border-radius: 5% !important;
}

.items-c:hover {
    transition: background-color 0.5s ease, transform 0.3s ease;
    transform: scale(1.1);
}

.items-c {
    transition: background-color 0.5s ease, transform 0.3s ease;
}