
.cb {
    padding-top: 15vh;
}

.h1{
    text-shadow: 5px 5px #000000 !important;

}

.bg1{
    background-image: url('../../images/bg2.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom;
    border-image: fill lineat-gradient(#0001,#000) !important;
    image-rendering:optimizeQuality

}
.bg1::after{
    content: '';
    position: absolute;
    inset: 0;
    background: rgb(0, 0, 0);
    opacity: 0.5;

}
.bg1{
    position: relative;
    margin: 0;


}
.hs{
    z-index: 1;
    position: relative;
}
.b1 {
    position: relative;

}
.b1::before{
    content: "";
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.363);
}
.search-control {
    background-color: rgba(0, 0, 0, 0.336) !important;
    backdrop-filter: blur(20px) !important;
    -webkit-backdrop-filter: blur(10px);

}
.outline{
    background-color: rgba(255, 255, 255, 0.336);
    backdrop-filter: blur(10px);
    border-radius: 1rem !important;
    margin-left: 1vh !important;

}



.dropdown:hover>.dropdown-menu {
    display: block;
  }
  
  .dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
      pointer-events: none;
  }

  .search-control{
    width: 10rem !important;
}

.form-control-h[type="text"],
.form-control-h[type="text"]:focus,
.form-control-h,
.form-control-h:focus {
    background-color: rgba(0, 0, 0, 0.336);
    backdrop-filter: blur(20px);
    color: white !important;
    border-radius: 3rem !important;
    min-width: 2rem !important;
}
.form-control-h,
.form-control-h:focus {
    background-color: rgba(0, 0, 0, 0.336);
    backdrop-filter: blur(20px);
    color: white;
    border-radius: 3rem !important;
}

.pcontainer{
    margin: auto;
    margin-top: 7rem !important;
}
.hcontainer{
    margin-top: 0 !important;
}

.quote {
    top: 50%;
    left: 50%;
    color: rgb(255, 255, 255);
    text-shadow: #000000;
    text-align: center;
    font-weight: 500;
    text-shadow: 0 0 3px #ff9100, 0 0 5px #000000;
}


.form-control-home{
width: 10rem !important;
}

.form-select-h[type="text"],
.form-select-h[type="text"]:focus,
.form-select-h,
.form-select-h:focus {
background-color: rgba(0, 0, 0, 0.336) !important;
backdrop-filter: blur(20px);
color: rgb(0, 0, 0);
border-radius: 3rem !important;
min-width: 2rem !important;
}
.form-select-h,
.form-select-h:focus {
background-color: rgba(0, 0, 0, 0.336);
backdrop-filter: blur(20px);
color: white;
border-radius: 3rem !important;
}
.outline{
    color: white;
background-color: rgba(0, 0, 0, 0.336);
backdrop-filter: blur(20px);
border-radius: 1rem !important;
margin-right: 1vh !important;

}

.bar {
display: flex;
justify-content: center;
align-items: center;
min-height: 3rem;
}

.h1{
text-shadow: 5px 5px #000000 !important;
}

.type{
/* Add hover effect */
cursor: pointer;
margin-bottom: 2rem;
transition: background-color 0.3s ease, transform 0.3s ease;
}

.type:hover {
background-color: rgba(255, 237, 75, 0.5);
transform: rotate(10deg);
}

.form-control-h::placeholder{
color: white !important;
}

.img-top {
    width: 100% !important;
    max-height: 15rem !important;
    object-fit: cover;

}

.home-c:hover {
    cursor: pointer;
    transition: background-color 0.5s ease, transform 0.3s ease;
    transform: scale(1.1);
}

.home-c {
    transition: background-color 0.5s ease, transform 0.3s ease;
}

.slide {
    width: 100%;
    height: 100%;
    object-fit: cover;

}   

.cards{
    margin: 1rem !important;
    border: 0.1rem solid rgba(0, 0, 0, 0.336);
    border-radius: 1% !important;
}