.card{
    margin: 1rem !important;
;
}

.img-bottom {
    /* max-width: 20vw !important; */
    width: 100% !important;
    max-height: 10rem !important;
    object-fit: cover;

}

.test{
    width: 0 !important;
    margin: 0% !important;
    padding: 0% !important;
}
